@font-face {
    font-family: 'Otamendi';
    src: url('Otamendi.eot?#iefix') format('embedded-opentype'),  url('Otamendi.otf')  format('opentype'),
           url('Otamendi.woff') format('woff'), url('Otamendi.ttf')  format('truetype'), url('Otamendi.svg#Otamendi') format('svg');
    
  }
  .moto
{
    font-family: 'Otamendi';
    font-weight: normal;
    font-style: normal;
    color:#5B083C;
    font-size: 30px;

}
.moto1
{
    font-family: 'Otamendi';
    font-style: normal;
    color:#5B083C;
}  
.h3
{
    font-size: 100px;
}
